/* You can add global styles to this file, and also import other style files */
.alert-validation {
    margin-top: 10px;
    background: #ff00004d;
    padding: 1px 10px;
    width: fit-content;
}
.text-box-error {
    border: red;
}